
<ul>
    <h2>Burası Partial wiew kullanılarak eklenmiştir!!</h2>
    <div class="row">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">File Result</h2>
                    <p class="card-text">Download Link !!</p>
                    <a asp-action="Download" asp-controller="Home">File Result</a>
                </div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                    <h2 class="card-title">Physical File Result</h2>
                    <a asp-action="PhysicalFileResult" asp-controller="Home">Physical File Result</a>
                </div>
            </div>
        </div>
    </div>
</ul>